<a href="https://colab.research.google.com/github/maschu09/mless/blob/main/time_series_forecasting/1_Download_Preprocess_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data download and preparation

In the following, we will set-up a typical data preprocessing workflow for (environmental) timeseries data. It is quite common that such data can be obtained via a web interface (REST API) and that the output from this API requires substantial reformatting and rearranging before the data can be imported into analysis or forecasting models. Typical issues encountered include:
* time series at different stations (and for different parameters) vary in length
* timeseries have some or many missing values, which are either absent from the data series or encoded as special values
* data vary in quality (some datasets may have jumps or awkward "features" that cannot be explained by natural phenomena)
* metadata to inform the data selection are missing ort difficult to access/process

In this notebook, we try to keep things relatively simple and straightforward while providing a set of tools that can also be used in more meaningful applications.

The default use case on which this notebook builds is to extract timeseries of the variable "temperature" from a handful of measurement locations, store intermediate results to avoid repeated downloads, and package the data into a single CSV file for input in the statistical analyses and ML models shown in the subsequent notebooks. The code will also run if you extract several variables at once or increase the number of stations. However, for massive data downloads, you will need to rewrite the code to be more efficient and add some monitoring of your downloads.

> Please note: In case of runtime loss or a need to run any segmented sections of the code make sure to run all the housekeeping cells before it

## Initial Setup and Data download
> This section downloads example data from TOAR for 5 stations in Germany. Refer to [TOAR Quick UserGuide](https://toar-data.fz-juelich.de/sphinx/TOAR_UG_Vol02_Quick_Start/build/html/examples.html) examples to better understand data structuring in TOAR that is used in the below snippet to download examples.

<p align="center">
  <img src="https://github.com/maschu09/mless/blob/main/time_series_forecasting/TOARFetchingBlockDiag.png?raw=1" alt="TOAR Block Diag" width="600"/>
</p>

### Housekeeping: Initial setup, declarations and method definitions

In [20]:
# Most notebook servers like google collab should have these packages pre-installed
# In such cases this is just a sanity check
#!pip install pandas numpy requests tensorflow

In [21]:
import requests
import json
import pandas as pd
import os
import csv
from datetime import datetime

#### Alternative

In [22]:
# Mount google drive when working in colab
hasCOLAB = 'google.colab' in str(get_ipython()) if hasattr(__builtins__,'__IPYTHON__') else False
if hasCOLAB:
  from google.colab import drive
  drive.mount('/content/drive')
  BASEPATH = '/content/drive/MyDrive'
else:
  BASEPATH = '.'

In [23]:
!ls drive/MyDrive

ls: drive/MyDrive: No such file or directory

In [24]:
# Global constants
TIMESERIES_DATA_DIR = BASEPATH + "/timeseries_data/"
TIMESERIES_CSV_DIR = os.path.join(TIMESERIES_DATA_DIR, "toar_csv_timeseries")
TIMESERIES_ID_FILE = os.path.join(TIMESERIES_DATA_DIR, "timeseriesIDs.json")
MIN_FILE_SIZE_BYTES = 100
group_columns = ['station_code', 'latitude', 'longitude']

os.makedirs(TIMESERIES_DATA_DIR, exist_ok=True)
os.makedirs(TIMESERIES_CSV_DIR, exist_ok=True)

### Custom data selection for experiments

The station codes in the example snippet below are checked for a common daterange for the chosen variables and offer reasonably complete timeseries. If you prefer to experiment with other datasets, consult the documentation on the [Search API](https://toar-data.fz-juelich.de/api/v2/#search-combined-endpoint-of-stations-and-timeseries).

ðŸ˜ˆ **Question 1:** What are common reasons for gaps in observational data records, such as from TOAR?

In [25]:
# German stations with good data coverage
station_codes = ["DENW094", "DEBW073","DEHE020"]
variable_columns = ["temp", "o3"]
# station_codes = ["DENW094"]
# variable_columns = ["no2", "temp", "o3", "no", "press"]

ðŸ˜ˆ **Task 1:** Explore the `station_codes` variable and try changing the station(s) to a different region.

Below methods each have appropriate documentation and comments to illustrate the logical flow *(they are placed with enough safeguards against both the API and optimized to avoid re-downloads when interupted during partial downloads to accomodate any loss of runtime on platforms like google colab)* and briefly described here for ease of use

ðŸ˜ˆ **Task 2:** Inspect the function `pivot_handle()`. What does it return, and why is pivoting important for time series analysis?

In [26]:
def load_existing_timeseries_ids():
    """
    Load existing timeseries IDs from a JSON file.

    Returns:
        dict: A dictionary containing stored timeseries metadata.
    """
    return json.load(open(TIMESERIES_ID_FILE, 'r')) if os.path.exists(TIMESERIES_ID_FILE) else {}

def save_timeseries_ids(timeseries_data):
    """
    Save timeseries metadata to a JSON file.

    Args:
        timeseries_data (dict): A dictionary containing timeseries metadata.
    """
    json.dump(timeseries_data, open(TIMESERIES_ID_FILE, 'w'), indent=4)

def fetch_timeseries_data(station_codes, existing_timeseries, variable_columns):
    """
    Fetch timeseries metadata for given station codes, filtering by specified variables.

    Args:
        station_codes (list): List of station codes to fetch data for.
        existing_timeseries (dict): Dictionary of previously fetched timeseries metadata.
        variable_columns (list): List of variable names to retain.

    Returns:
        dict: Updated dictionary containing filtered timeseries metadata.
    """
    base_url = "http://toar-data.fz-juelich.de/api/v2/search/?codes="
    unique_entries = existing_timeseries.copy()
    processed_station_codes = {details['station_code'] for details in existing_timeseries.values()}

    for code in station_codes:
        if code in processed_station_codes:
            print(f"\t\tStation {code} is already processed, skipping.")
            continue

        response = requests.get(base_url + code, timeout=1000)
        if response.status_code == 200:
            for entry in response.json():
                if (variable_name := entry.get('variable', {}).get('name')) in variable_columns:
                    timeseries_id = entry.get('id')
                    if timeseries_id not in unique_entries:
                        unique_entries[timeseries_id] = {
                            'data_start_date': entry.get('data_start_date'),
                            'data_end_date': entry.get('data_end_date'),
                            'variable_name': variable_name,
                            'station_code': code,
                            'latitude': entry.get('station', {}).get('coordinates', {}).get('lat'),
                            'longitude': entry.get('station', {}).get('coordinates', {}).get('lng'),
                        }
        else:
            print(f"\t\tFailed to fetch data for station {code}. Status code: {response.status_code}")
    return unique_entries

def pivot_handle(dfs, metadata_columns, variable_columns):
    """
    Pivot and structure the timeseries dataframe for sequential data analysis.

    Args:
        dfs (pd.DataFrame): Dataframe containing timeseries data.
        metadata_columns (list): List of metadata column names.
        variable_columns (list): List of variable names to include.

    Returns:
        pd.DataFrame: Processed dataframe with pivoted structure.
    """
    pivot_df = dfs.pivot_table(index='datetime', columns='variable_name', values='value', aggfunc='mean')
    pivot_df.reset_index(inplace=True)

    print(f"Station {dfs['station_code'].unique()} min time: {dfs['datetime'].min()}, max time: {dfs['datetime'].max()}, hours between: {(dfs['datetime'].max() - dfs['datetime'].min()) / pd.Timedelta(hours=1):.2f}")
    reference_index = pd.date_range(start=dfs['datetime'].min(), end=dfs['datetime'].max(), freq="h", tz="UTC")
    reference_df = pd.DataFrame({'datetime': reference_index})

    pivot_df_ = reference_df.merge(pivot_df, on='datetime', how='left')

    for col in metadata_columns:
        if dfs[col].notna().any():
            value = dfs[col].dropna().iloc[0]
            pivot_df_.insert(0, col, value)
        else:
            print(f"Station {dfs['station_code'].unique()}: metadata {col} has no value")

    return pivot_df_

def download_csv_data(timeseries_data, variable_columns):
    """
    Download and process CSV data for each timeseries ID.

    Args:
        timeseries_data (dict): Dictionary containing timeseries metadata.
        variable_columns (list): List of variable names to process.

    Returns:
        pd.DataFrame: Combined dataframe of all timeseries data.
    """
    dataframes = []
    metadata_columns = ['station_code', 'latitude', 'longitude']

    for ts_id, details in timeseries_data.items():
        csv_path = os.path.join(TIMESERIES_CSV_DIR, f"{ts_id}.csv")

        if os.path.exists(csv_path) and os.path.getsize(csv_path) > MIN_FILE_SIZE_BYTES:
            print(f"\tCSV already exists for timeseries ID {ts_id}, skipping download.")
        else:
            print(f"\tDownloading data for timeseries ID {ts_id}")
            url = f"http://toar-data.fz-juelich.de/api/v2/data/timeseries/{ts_id}?format=csv"
            try:
                response = requests.get(url, stream=True, timeout=1000)
                response.raise_for_status()
                with open(csv_path, 'wb') as file:
                    file.writelines(response.iter_content(chunk_size=8192))
                print(f"\t\tRaw data CSV of {ts_id} saved: {csv_path}")
            except requests.exceptions.RequestException as e:
                print(f"\t\tFailed to download data for timeseries ID {ts_id}. Error: {e}")
                continue

        try:
            df = pd.read_csv(csv_path, skiprows=lambda i: i < next(i for i, line in enumerate(open(csv_path)) if line.startswith('datetime')), low_memory=False)
            df['datetime'] = pd.to_datetime(df['datetime'], format='mixed')
            df[['variable_name', 'station_code', 'latitude', 'longitude']] = details['variable_name'], details['station_code'], details['latitude'], details['longitude']
            print(f"Dataframe for timeseries ID {ts_id} loaded successfully with shape {df.shape}")
            dataframes.append(pivot_handle(df, metadata_columns, variable_columns))
        except (pd.errors.EmptyDataError, pd.errors.ParserError) as e:
            print(f"\tError processing CSV for timeseries ID {ts_id}: {e}")
            continue

    return pd.concat(dataframes, ignore_index=True).sort_values(by=['station_code', 'datetime']) if dataframes else pd.DataFrame()

### Download via REST API

ðŸ˜ˆ **Task 3:** Try downloading a different variable or add another pollutant (e.g., `so2`). What changes?

In [19]:
# Load existing timeseries IDs from json to skip calls to TOAR
existing_timeseries = load_existing_timeseries_ids()

timeseries_data = fetch_timeseries_data(station_codes, existing_timeseries,variable_columns)
print(f"\t Number of time series meta data fetched : {len(timeseries_data)}")

# save existing timeseries IDs as json to reduce calls to TOAR in future
save_timeseries_ids(timeseries_data)

dataframes = download_csv_data(timeseries_data,variable_columns)
print(f"\t Total dataFrames processed : {len(dataframes)} and shape of first dataframe {dataframes.shape}.")

dataframes.head()

	 Number of time series meta data fetched : 6
	Downloading data for timeseries ID 73
		Failed to download data for timeseries ID 73. Error: 502 Server Error: Bad Gateway for url: https://toar-data.fz-juelich.de/api/v2/data/timeseries/73?format=csv
	Downloading data for timeseries ID 76
		Raw data CSV of 76 saved: ./timeseries_data/toar_csv_timeseries/76.csv
Dataframe for timeseries ID 76 loaded successfully with shape (246628, 9)
Station ['DENW094'] min time: 1997-01-01 00:00:00+00:00, max time: 2025-06-30 11:00:00+00:00, hours between: 249779.00
	Downloading data for timeseries ID 18645
		Failed to download data for timeseries ID 18645. Error: 502 Server Error: Bad Gateway for url: https://toar-data.fz-juelich.de/api/v2/data/timeseries/18645?format=csv
	Downloading data for timeseries ID 22639
		Raw data CSV of 22639 saved: ./timeseries_data/toar_csv_timeseries/22639.csv
Dataframe for timeseries ID 22639 loaded successfully with shape (110890, 9)
Station ['DEBW073'] min time: 1997-01-01 00:00:00+00:00, max time: 2011-12-31 23:00:00+00:00, hours between: 131471.00
	Downloading data for timeseries ID 18022
		Raw data CSV of 18022 saved: ./timeseries_data/toar_csv_timeseries/18022.csv
Dataframe for timeseries ID 18022 loaded successfully with shape (220953, 9)
Station ['DEHE020'] min time: 1997-01-01 00:00:00+00:00, max time: 2025-06-30 11:00:00+00:00, hours between: 249779.00
	Downloading data for timeseries ID 18698
		Failed to download data for timeseries ID 18698. Error: 502 Server Error: Bad Gateway for url: https://toar-data.fz-juelich.de/api/v2/data/timeseries/18698?format=csv
	 Total dataFrames processed : 631032 and shape of first dataframe (631032, 5).

        longitude   latitude station_code                  datetime  temp
249780   7.567796  47.819182      DEBW073 1997-01-01 00:00:00+00:00 -10.0
249781   7.567796  47.819182      DEBW073 1997-01-01 01:00:00+00:00 -11.0
249782   7.567796  47.819182      DEBW073 1997-01-01 02:00:00+00:00 -11.0
249783   7.567796  47.819182      DEBW073 1997-01-01 03:00:00+00:00 -12.0
249784   7.567796  47.819182      DEBW073 1997-01-01 04:00:00+00:00 -12.0

Most of the data in TOAR is observational data which has few or many data gaps. The "temp"(erature) data that you downloaded is actually from a model (ERA5 reanalysis) and should therefore not have any missing values (except if your requested daterange extends beyond the period for which we extracted ERA5 data).

To demonstrate a more typical workflow of handling observational data, we will now inspect, interpolate, and remove missing data values. Note that the pivot routine above merged data from different variables together and introduced NaNs.

## Data handling (observational gaps)

ðŸ˜ˆ **Task 4:** Insert some code to find out how many NaN values each variable in the dataset contains. Even better: try to generate a bargraph showing the number of instances with consecutive NaN values (1, 2, 3, ..., more than 10).

To provide as much training data to ML models as possible, you typically want to fill gaps through interpolation. For environmental data, it is common practice to interpolate over up to 6 hours but not longer. In many cases, linear interpolation will work just fine.


ðŸ˜ˆ **Question 3:** Why is it acceptable to fill up to 6 missing hourly values in this dataset?

ðŸ˜ˆ **Question 4:** Why do you need to interpolate at all? Wouldn't it be sufficient to randomly sample from the existing data?

In [13]:
import numpy as np
def fill_six_nans(group):
    """
    Fills up to six consecutive NaN values in a given pandas Series using linear interpolation
    if the NaNs are surrounded by valid values. If the NaNs are at the start, they are replaced
    with zeros, and if they are at the end, they are filled with the last known value.

    Args:
        group (pd.Series): The input Series with potential NaN values.

    Returns:
        pd.Series: A Series where up to six consecutive NaNs are interpolated, and longer NaN
        sequences are partially filled while preserving the original index.
    """
    values = group.to_numpy()
    i = 0
    while i < len(values):
        if np.isnan(values[i]):
            start = i
            while i < len(values) and np.isnan(values[i]):
                i += 1
            end = min(i, start + 6)  # Limit to filling only 6 NaNs

            if start > 0 and i < len(values):  # NaNs in the middle
                fill_values = np.linspace(values[start - 1], values[i], end - start + 2)[1:-1]
            elif start == 0:  # NaNs at the start
                fill_values = [0] * (end - start)
            elif i >= len(values):  # NaNs at the end
                fill_values = [values[start - 1]] * (end - start)
            values[start:end] = fill_values
        else:
            i += 1
    return pd.Series(values, index=group.index)

In [15]:
dataframes = pd.read_csv("timeseries_data/raw_data.csv")

In [17]:
dataframes[variable_columns] = dataframes.groupby(group_columns)[variable_columns].transform(fill_six_nans)
dataframes.isna().sum()

longitude       0
latitude        0
station_code    0
datetime        0
o3              0
temp            0
dtype: int64

Now rest of the Nas can be dropped as that station might not have data collected in the time period and the data needs to be normalized.

ðŸ˜ˆ **Question 5:** What risks might arise if normalization is applied *before* handling missing values?

In [18]:
dataframes = dataframes.dropna()
dataframes.isna().sum()

longitude       0
latitude        0
station_code    0
datetime        0
o3              0
temp            0
dtype: int64

In [19]:
dataframes.shape

(1033505, 6)

## Staged data loading (Housekeeping)

Finally, and before we want to perform any analysis of the data, we will store the "cleaned" dataset for later re-use. Subsequent notebooks can then easily reload the "raw_data" from the local storage or your mounted google drive folder when needed.

In [ ]:
dataframes.to_csv(os.path.join(TIMESERIES_DATA_DIR, "raw_data.csv"), index=False)

ðŸ˜ˆ **Task 6:** Re-inspect the code above and reflect on the data management strategy employed here. What happens if you re-run the script after changing station codes or variables? Would the notebook repeat all download operations if you add a single station or variable? What could you do to improve this workflow?

Don't waste time by trying to build the ultimate do-it-all dataloader - you can attend my lecture on Earth System Data Processing if you are keen to go deeper down this route.

### Leftovers from first cleanup


Below cell can be used to reload data if using an open source notebook servers like google colab and the if the usage limit is reached or for other issues

In [14]:
import pandas as pd
import os

## Raw data csv is also made available for the select stations in URL:
url = "https://drive.google.com/uc?export=download&id=1cmTTWY3f18SikgRBcZzhtFswIf7XwPJq"
dataframes = pd.read_csv(url,parse_dates=["datetime"])
## Else if using local files:
# dataframes = pd.read_csv(os.path.join(TIMESERIES_DATA_DIR, "raw_data.csv"))
dataframes.head()

   longitude   latitude station_code                  datetime  temp
0   7.567796  47.819182      DEBW073 1997-01-01 00:00:00+00:00 -10.0
1   7.567796  47.819182      DEBW073 1997-01-01 01:00:00+00:00 -11.0
2   7.567796  47.819182      DEBW073 1997-01-01 02:00:00+00:00 -11.0
3   7.567796  47.819182      DEBW073 1997-01-01 03:00:00+00:00 -12.0
4   7.567796  47.819182      DEBW073 1997-01-01 04:00:00+00:00 -12.0

In [15]:
dataframes.shape

(579480, 5)

In [16]:
dataframes.isna().sum()

longitude       0
latitude        0
station_code    0
datetime        0
temp            0
dtype: int64

### (Optional/Advanced) Multi-Variable Case:

We've seen how to download one variable for multiple stations. Now let's try and download multi-variables for one station.

- You know the drill at this point:
  - Set the paths for loading the timeseries_ids(unique to each variable) corresponding to the station code and downloading timeseries data for all the variables.
  - Fetch the variables for the station of interest
  - Fill the gaps upto 6hrs
  - Drop NAs

#### Fetch the variables

In [27]:
# Let us focus on one single station
station_codes = ["DENW094"]
# variable_columns = ["no2", "temp", "o3", "no", "press"]
variable_columns = ["temp", "o3"]

# Note: the TOAR API sets limits to anonymous users; you can download max 3 timeseries with one request.
# Hence, you will need to adapt this code to load data of all 5 variables.

</details>

#### Download the variables data for that 1 station via REST API

In [28]:
# Load existing timeseries IDs from json to skip calls to TOAR
existing_timeseries = load_existing_timeseries_ids()

timeseries_data = fetch_timeseries_data(station_codes, existing_timeseries,variable_columns)
print(f"\t Number of time series meta data fetched : {len(timeseries_data)}")

# save existing timeseries IDs as json to reduce calls to TOAR in future
save_timeseries_ids(timeseries_data)

dataframes = download_csv_data(timeseries_data,variable_columns)
print(f"\t Total dataFrames processed : {len(dataframes)} and shape of first dataframe {dataframes.shape}.")

dataframes.head()

		Station DENW094 is already processed, skipping.
	 Number of time series meta data fetched : 6
	CSV already exists for timeseries ID 73, skipping download.
Dataframe for timeseries ID 73 loaded successfully with shape (211320, 9)
Station ['DENW094'] min time: 1999-07-02 18:00:00+00:00, max time: 2025-06-30 11:00:00+00:00, hours between: 227873.00
	CSV already exists for timeseries ID 76, skipping download.
Dataframe for timeseries ID 76 loaded successfully with shape (246628, 9)
Station ['DENW094'] min time: 1997-01-01 00:00:00+00:00, max time: 2025-06-30 11:00:00+00:00, hours between: 249779.00
	CSV already exists for timeseries ID 18645, skipping download.
Dataframe for timeseries ID 18645 loaded successfully with shape (210742, 9)
Station ['DEBW073'] min time: 1994-01-01 00:00:00+00:00, max time: 2025-06-30 11:00:00+00:00, hours between: 276083.00
	CSV already exists for timeseries ID 22639, skipping download.
Dataframe for timeseries ID 22639 loaded successfully with shape (110890, 9)
Station ['DEBW073'] min time: 1997-01-01 00:00:00+00:00, max time: 2011-12-31 23:00:00+00:00, hours between: 131471.00
	CSV already exists for timeseries ID 18022, skipping download.
Dataframe for timeseries ID 18022 loaded successfully with shape (220953, 9)
Station ['DEHE020'] min time: 1997-01-01 00:00:00+00:00, max time: 2025-06-30 11:00:00+00:00, hours between: 249779.00
	CSV already exists for timeseries ID 18698, skipping download.
Dataframe for timeseries ID 18698 loaded successfully with shape (285163, 9)
Station ['DEHE020'] min time: 1992-03-12 05:00:00+00:00, max time: 2025-06-30 11:00:00+00:00, hours between: 291918.00
	 Total dataFrames processed : 1426909 and shape of first dataframe (1426909, 6).

,longitude,latitude,station_code,datetime,o3,temp
477654,7.567796,47.819182,DEBW073,1994-01-01 00:00:00+00:00,32.58060,NaN
477655,7.567796,47.819182,DEBW073,1994-01-01 01:00:00+00:00,31.57812,NaN
477656,7.567796,47.819182,DEBW073,1994-01-01 02:00:00+00:00,26.56572,NaN
477657,7.567796,47.819182,DEBW073,1994-01-01 03:00:00+00:00,27.06696,NaN
477658,7.567796,47.819182,DEBW073,1994-01-01 04:00:00+00:00,32.07936,NaN

#### Data handling (observational gaps)

##### Filling up upto 6 NAs

In [29]:
dataframes[variable_columns] = dataframes.groupby(group_columns)[variable_columns].transform(fill_six_nans)
dataframes.isna().sum()

longitude            0
latitude             0
station_code         0
datetime             0
o3              133902
temp            288933
dtype: int64

In [30]:
dataframes = dataframes.drop_duplicates(subset=['datetime'], keep='last')

##### After dropping NAs

In [31]:
dataframes = dataframes.dropna()
dataframes.isna().sum()

longitude       0
latitude        0
station_code    0
datetime        0
o3              0
temp            0
dtype: int64

#### Statistical Sanity Check

In [32]:
stats = ['min', 'max', 'mean', 'sum', 'std', 'var', 'median','prod','nunique',
    ('5th_percentile', lambda x: x.quantile(0.05)),
    ('10th_percentile', lambda x: x.quantile(0.10)),
    ('25th_percentile', lambda x: x.quantile(0.25)),
    ('50th_percentile', lambda x: x.quantile(0.50)), #(median)
    ('75th_percentile', lambda x: x.quantile(0.75))]
agg_dict = {col: stats for col in variable_columns}
grouped = dataframes.groupby('station_code').agg(agg_dict)
display(grouped)

for agg_func in ['min', 'max', 'mean', 'std']:
    display(agg_func)
    agg_view = grouped.xs(agg_func, axis=1, level=1)
    display(agg_view)

               temp                                                        \
                min     max       mean           sum       std        var
station_code
DEHE020        0.00   0.000   0.000000  0.000000e+00  0.000000   0.000000
DENW094      -17.35  39.126  10.656713  2.347738e+06  7.321421  53.603209

                                                 ...         o3              \
             median prod nunique 5th_percentile  ...        std         var
station_code                                     ...
DEHE020        0.00  0.0       1           0.00  ...   3.678797   13.533544
DENW094       10.45  NaN   50706          -0.75  ...  14.485995  209.844037

                                                                             \
                median          prod nunique 5th_percentile 10th_percentile
station_code
DEHE020       16.29030  1.248922e+07       6       10.90197        11.52852
DENW094       24.55327  0.000000e+00  130932        1.37841         4.76178


             25th_percentile 50th_percentile 75th_percentile
station_code
DEHE020            13.220205        16.29030       18.420570
DENW094            14.570452        24.55327       32.834893

[2 rows x 28 columns]

'min'

               temp         o3
station_code
DEHE020        0.00  10.275420
DENW094      -17.35  -1.382671

'max'

                temp         o3
station_code
DEHE020        0.000   19.54836
DENW094       39.126  132.07674

'mean'

                   temp        o3
station_code
DEHE020        0.000000  15.62198
DENW094       10.656713  24.58605

'std'

                  temp         o3
station_code
DEHE020       0.000000   3.678797
DENW094       7.321421  14.485995

In [33]:
dataframes.to_csv(os.path.join(TIMESERIES_DATA_DIR, "raw_data.csv"), index=False)

#### Log Scaling after checking for skewdness

*ToDo:* This cell should be transfered to the data preparation part of the ML models.

In [34]:
import numpy as np
from scipy.stats import skew

def log_transform_if_skewed(df, columns, threshold=1.0):
    """
    Log-transform the specified columns of a DataFrame based on their skewdness.

    Args:
        df (pd.DataFrame): The input DataFrame.
        columns (list): List of column names that need to be checked for skewdness.

    Returns:
        pd.DataFrame: DataFrame with normalized columns.
    """
    df_transformed = df.copy()

    for col in columns:
        # s = df[col].dropna()
        s = df[col]
        current_skewness = skew(s)

        print(f"[{col}] Skewness: {current_skewness:.2f}")

        if abs(current_skewness) > threshold:
            # To avoid log(0) or log(negative values).
            if (s <= 0).any():
                shift = abs(s.min()) + 1e-6
                print(f"Applying log(x + {shift:.6f}) to {col}")
                df_transformed[col] = np.log(df[col] + shift)
            else:
                print(f"Applying log(x) to {col}")
                df_transformed[col] = np.log(df[col])
        else:
            print(f"No transformation applied to {col}.")

    return df_transformed

In [35]:
dataframe_= log_transform_if_skewed(dataframes, variable_columns, threshold=1.0)
dataframe_.head()

[temp] Skewness: 0.17
No transformation applied to temp.
[o3] Skewness: 0.62
No transformation applied to o3.

,longitude,latitude,station_code,datetime,o3,temp
1134990,8.500619,50.567185,DEHE020,1992-03-12 05:00:00+00:00,14.53596,0.0
1134991,8.500619,50.567185,DEHE020,1992-03-12 06:00:00+00:00,18.04464,0.0
1134992,8.500619,50.567185,DEHE020,1992-03-12 07:00:00+00:00,19.54836,0.0
1134993,8.500619,50.567185,DEHE020,1992-03-12 08:00:00+00:00,10.27542,0.0
1134994,8.500619,50.567185,DEHE020,1992-03-12 09:00:00+00:00,12.78162,0.0

#### Normalize the data

ðŸ˜ˆ Task 8: Why do we need both log transformation and Z-score normalization?

In [36]:
def standard_scaler(df, columns):
    """
    Standardize the specified columns of a DataFrame by subtracting the mean
    and dividing by the standard deviation (Z-score normalization).

    Args:
        df (pd.DataFrame): The input DataFrame.
        columns (list): List of column names to be normalized.

    Returns:
        pd.DataFrame: DataFrame with normalized columns.
    """
    df_scaled = df.copy()
    for col in columns:
        mean = df_scaled[col].mean()
        std = df_scaled[col].std()
        df_scaled[col] = (df_scaled[col] - mean) / std
    return df_scaled

In [37]:
dataframes = standard_scaler(dataframe_, variable_columns)
dataframes.head()

,longitude,latitude,station_code,datetime,o3,temp
1134990,8.500619,50.567185,DEHE020,1992-03-12 05:00:00+00:00,-0.693768,-1.455491
1134991,8.500619,50.567185,DEHE020,1992-03-12 06:00:00+00:00,-0.451555,-1.455491
1134992,8.500619,50.567185,DEHE020,1992-03-12 07:00:00+00:00,-0.347749,-1.455491
1134993,8.500619,50.567185,DEHE020,1992-03-12 08:00:00+00:00,-0.987885,-1.455491
1134994,8.500619,50.567185,DEHE020,1992-03-12 09:00:00+00:00,-0.814875,-1.455491

##### Save the normalized dataframe for later use

In [38]:
dataframes.to_csv(os.path.join(TIMESERIES_DATA_DIR, "normalized_data.csv"), index=False)

##### If you want the normalized data directly, then you could just download from the drive.

In [39]:
import pandas as pd
import os

## Normalized data csv is also made available for the select stations in URL:
# url = "https://drive.google.com/uc?export=download&id=16Mjahl_vSznbXUFeD80xNbsz2eFmCeLG"
# dataframes = pd.read_csv(url)
## Else if using local files you can load from the path as below:
# e.g. r"./content/timeseries_multivariate_data/normalized_data.csv"
dataframes = pd.read_csv(os.path.join(TIMESERIES_DATA_DIR, "normalized_data.csv"))
dataframes.head()

,longitude,latitude,station_code,datetime,o3,temp
0,8.500619,50.567185,DEHE020,1992-03-12 05:00:00+00:00,-0.693768,-1.455491
1,8.500619,50.567185,DEHE020,1992-03-12 06:00:00+00:00,-0.451555,-1.455491
2,8.500619,50.567185,DEHE020,1992-03-12 07:00:00+00:00,-0.347749,-1.455491
3,8.500619,50.567185,DEHE020,1992-03-12 08:00:00+00:00,-0.987885,-1.455491
4,8.500619,50.567185,DEHE020,1992-03-12 09:00:00+00:00,-0.814875,-1.455491